<div class="modal-header">
            <h3 class="modal-title">{{pollName}}</h3>
        </div>
        <div class="modal-body">
            <form>
                <div ng-repeat="item in items">
                <label for="poll-item" >
                    <input type="radio" name="poll-item" ng-model="selected.item" ng-value="item.id">
                {{ item.text }}</label>
                </div>
            </form>
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>